.buttonStartTest {
    width: 150px;
    bottom: 20px;
    right: 10px;
    position: absolute !important;
}

.headerPanel .x-title {
    font-size: 0.9em !important;
}

.resetButton {
    position: absolute !important;
    bottom: 20px;
    right: 10px;
}

.questionLabel .x-form-label {
    white-space: normal !important;
}

.x-toolbar-dark {
	background-image: none !important;
}

.x-tabbar-dark  {
	background-image: none !important;
}

