.resetButton {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.questionLabel .x-form-label {
    white-space: normal !important;
}

.buttonStartTest {
    width: 150px;
    bottom: 20px;
    right: 10px;
    position: absolute;
}